@model IEnumerable<CompraVenda.Models.Venda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vendas</h2>
<p>
    @Html.ActionLink("Nova venda", "New", null, new { @class = "btn btn-primary" })
</p>
@if (!Model.Any())
{
    <p>Não temos vendas ainda.</p>
}
else
{ 
   
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Funcionario</th>
                <th>Cliente</th>
                <th>Produto</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var venda in Model)
            {
                try
                {
                    <tr>
                        <td>@venda.Id</td>
                        <td>@Html.ActionLink(@venda.Name, "Edit", new { venda.Id })</td>
                        <td>@venda.Funcionario.Name</td>
                        <td>@venda.Cliente.Name</td>
                        <td>@venda.Produto.Name</td>
                    </tr>
                }
                catch(Exception e)
                {

                }



            }
        </tbody>
    </table>
}