@model IEnumerable<CompraVenda.Models.Venda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vendas</h2>
<p>
    @Html.ActionLink("Nova venda", "New", null, new { @class = "btn btn-primary" })
</p>
@if (!Model.Any())
{
    <p>Não temos vendas ainda.</p>
}
else
{ 
   
    <table id="venda" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Funcionario</th>
                <th>Cliente</th>
                <th>Produto</th>
                <th>Remover</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var venda in Model)
            {
                try
                {
                    <tr>
                        <td>@venda.Id</td>
                        <td>@Html.ActionLink(@venda.Name, "Edit", new { venda.Id })</td>
                        <td>@venda.Funcionario.Name</td>
                        <td>@venda.Cliente.Name</td>
                        <td>@venda.Produto.Name</td>
                        <td>
                            <button data-customer-id="@venda.Id" class="btn-link js-delete">Remover</button>
                        </td>
                    </tr>
                }
                catch(Exception e)
                {

                }



            }
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#venda").on("click",".js-delete",
                function () {
                    var button = $(this);
                    var result = confirm("Tem certeza que quer remover este venda?")
                            if (result) {
                                $.ajax({
                                    url: "/venda/delete/" + button.attr("data-customer-id"),
                                    method: "GET",
                                    success: function() {
                                        button.parents("tr").remove();
                                    }
                                });
                            }
                });
        });
    </script>
}