@model CompraVenda.ViewModels.VendaFormViewModel
@{
    ViewBag.Title = Model.Title;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Save", "Venda"))
{
    @Html.HiddenFor(m => m.Venda.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Venda.Name)
        @Html.TextBoxFor(m => m.Venda.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Venda.FuncionarioId)
        @Html.DropDownListFor(m => m.Venda.FuncionarioId,
            new SelectList(Model.Funcionario, "Id", "Name"),
            "Escolha", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Venda.FuncionarioId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Venda.ClienteId)
        @Html.DropDownListFor(m => m.Venda.ClienteId,
            new SelectList(Model.Cliente, "Id", "Name"),
            "Escolha", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Venda.ClienteId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Venda.ProdutoId)
        @Html.DropDownListFor(m => m.Venda.ProdutoId,
            new SelectList(Model.Produto, "Id", "Name"),
            "Escolha", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Venda.ProdutoId)
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
}