@model IEnumerable<CompraVenda.Models.Cliente>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes</h2>
<p>
    @Html.ActionLink("Novo Cliente", "New", null, new { @class = "btn btn-primary" })
</p>
@if (@Model.Count() > 0)
{
    
    <table id="cliente" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Clientes</th>
                <th>V.I.P</th>
                <th>Remover</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model)
            {   
                <tr>
                    <td>@cliente.Id</td>
                    <td>@Html.ActionLink(@cliente.Name, "Edit", new { cliente.Id })</td>
                    <td>@cliente.IsSub</td>
                    <td>
                        <button data-customer-id="@cliente.Id" class="btn-link js-delete">Remover</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não tem cliente ainda!</p>
}

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#cliente").on("click",".js-delete",
                function () {
                    var button = $(this);
                    var result = confirm("Tem certeza que quer remover este cliente?")
                            if (result) {
                                $.ajax({
                                    url: "/cliente/delete/" + button.attr("data-customer-id"),
                                    method: "GET",
                                    success: function() {
                                        button.parents("tr").remove();
                                    }
                                });
                            }
                });
        });
    </script>
}